* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.wrapper .main {
  width: 100%;
  height: 100%;
  background: url(../img/background/soon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
}

.wrapper .main .main__wrap {
  width: 100%;
  padding: 6% 0px 0px 0px;
}

.wrapper .main .main__wrap img {
  width: 100%;
  max-width: 80px;
  margin-left: calc(50% - 40px);
}

@media (max-width: 400px) {
  .wrapper .main .main__wrap img {
    max-width: 50px;
    margin-left: calc(50% - 25px);
  }
}

.wrapper .main .main__wrap h1 {
  width: 100%;
  max-width: 400px;
  color: black;
  font-size: 55px;
  margin-left: calc(50% - 200px);
  font-weight: bold;
  text-align: center;
  padding: 15px 0px;
}

@media (max-width: 400px) {
  .wrapper .main .main__wrap h1 {
    margin-left: 0px;
    font-size: 35px;
    padding: 5px 0px;
  }
}

.wrapper .main .main__wrap p {
  width: 100%;
  max-width: 600px;
  font-size: 18px;
  color: grey;
  margin-left: calc(50% - 300px);
  text-align: center;
  padding: 15px 0px;
}

@media (max-width: 720px) {
  .wrapper .main .main__wrap p {
    max-width: 450px;
    padding: 5px 20px;
    margin-left: calc(50% - 225px);
  }
}

@media (max-width: 400px) {
  .wrapper .main .main__wrap p {
    width: 100%;
    margin-left: 0;
  }
}

.wrapper .main .main__wrap .time {
  width: 100%;
  max-width: 500px;
  margin-left: calc(50% - 250px);
  padding: 15px 0px;
  color: white;
  text-transform: uppercase;
}

@media (max-width: 400px) {
  .wrapper .main .main__wrap .time {
    margin-left: 0px;
  }
}

.wrapper .main .main__wrap .time .days,
.wrapper .main .main__wrap .time .hours,
.wrapper .main .main__wrap .time .minutes,
.wrapper .main .main__wrap .time .seconds {
  width: 100%;
  float: left;
  width: calc(100% / 4);
}

.wrapper .main .main__wrap .time label {
  width: 100%;
  float: left;
  font-family: "Roboto Mono", monospace;
  font-size: 35px;
  text-align: center;
}

@media (max-width: 720px) {
  .wrapper .main .main__wrap .time label {
    font-size: 35px;
  }
}

.wrapper .main .main__wrap .time span {
  float: left;
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
}

@media (max-width: 720px) {
  .wrapper .main .main__wrap .time span {
    font-size: 15px;
  }
}

.wrapper .main .main__wrap .email__form {
  width: 100%;
  max-width: 500px;
  margin-left: calc(50% - 250px);
  margin-top: 90px;
}

@media (max-width: 720px) {
  .wrapper .main .main__wrap .email__form {
    max-width: 400px;
    margin-left: calc(50% - 200px);
  }
}

@media (max-width: 400px) {
  .wrapper .main .main__wrap .email__form {
    width: 80%;
    margin-left: 10%;
  }
}

.wrapper .main .main__wrap .email__form input {
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid black;
  text-align: center;
  font-size: 23px;
  text-transform: capitalize;
}

.wrapper .main .main__wrap .email__form input::placeholder {
  color: white;
  line-height: 40px;
}

.wrapper .main .main__wrap .email__form button {
  width: 150px;
  height: 35px;
  margin-left: calc(50% - 75px);
  background-color: #db3b0a;
  color: white;
  margin-top: 20px;
  box-shadow: 2px 2px 2px #ece7e7;
}

.wrapper .main .main__wrap .mouse {
  margin-top: 80px;
  width: 30px;
  height: 50px;
  border: 1px solid white;
  margin-left: calc(50% - 15px);
  border-radius: 18px;
}

.wrapper .section {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
}

@media (max-width: 720px) {
  .wrapper .section {
    height: 900px;
  }
}

.wrapper .section .section__wrap {
  display: inline-block;
  width: 100%;
  height: 40px;
  padding: 70px 0px;
}

.wrapper .section .section__wrap .section__left {
  width: 50%;
  float: left;
}

@media (max-width: 920px) {
  .wrapper .section .section__wrap .section__left {
    width: 100%;
  }
}

.wrapper .section .section__wrap .section__right {
  width: 50%;
  float: left;
}

@media (max-width: 920px) {
  .wrapper .section .section__wrap .section__right {
    width: 100%;
  }
}

.wrapper .section .section__wrap .left__content,
.wrapper .section .section__wrap .right__content {
  width: 92%;
  margin-left: 4%;
}

.wrapper .section .section__wrap .left__content h3,
.wrapper .section .section__wrap .right__content h3 {
  text-align: left;
  width: 100%;
  font-size: 23px;
  color: black;
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace;
  padding: 10px 0px;
}

.wrapper .section .section__wrap .left__content p,
.wrapper .section .section__wrap .right__content p {
  font-size: 18px;
  line-height: 25px;
  padding: 10px 0px;
}

.wrapper .section .section__wrap .left__content p span,
.wrapper .section .section__wrap .right__content p span {
  color: brown;
}

.wrapper .section .section__wrap .left__content form,
.wrapper .section .section__wrap .right__content form {
  width: 100%;
  margin-top: 45px;
}

.wrapper .section .section__wrap .left__content form .name,
.wrapper .section .section__wrap .right__content form .name {
  width: 49%;
  float: left;
  color: grey;
  padding: 5px 0px;
  border-bottom: 1px solid grey;
}

.wrapper .section .section__wrap .left__content form .email,
.wrapper .section .section__wrap .right__content form .email {
  width: 49%;
  float: right;
  color: grey;
  padding: 5px 0px;
  border-bottom: 1px solid grey;
}

.wrapper .section .section__wrap .left__content form .textarea,
.wrapper .section .section__wrap .right__content form .textarea {
  width: 100%;
  color: grey;
  margin-top: 10px;
  border-bottom: 1px solid grey;
  resize: none;
  padding: 10px 0px;
  height: 70px;
}

.wrapper .section .section__wrap .left__content form button,
.wrapper .section .section__wrap .right__content form button {
  margin-top: 30px;
  width: 150px;
  height: 30px;
  float: right;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  background-color: #db3b0a;
  font-weight: normal;
  box-shadow: 2px 2px 2px #4b3030;
}

.wrapper .section .section__wrap .left__content .animation,
.wrapper .section .section__wrap .right__content .animation {
  margin-top: 20px;
  padding: 15px 0px;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.wrapper .section .section__wrap .left__content .animation .bar__row,
.wrapper .section .section__wrap .right__content .animation .bar__row {
  width: 100%;
  height: 30px;
  margin: 1px 0px;
  position: relative;
  font-family: "Fira Sans", sans-serif;
  font-size: 15px;
}

.wrapper .section .section__wrap .left__content .animation .bar__row label,
.wrapper .section .section__wrap .right__content .animation .bar__row label {
  width: 50%;
  float: left;
}

.wrapper .section .section__wrap .left__content .animation .bar__row span,
.wrapper .section .section__wrap .right__content .animation .bar__row span {
  width: 50%;
  float: right;
  text-align: right;
}

.wrapper .section .section__wrap .left__content .animation .bar__row .row__wrap,
.wrapper .section .section__wrap .right__content .animation .bar__row .row__wrap {
  width: 100%;
  height: 2px;
}

.wrapper .section .section__wrap .left__content .animation .bar__row .row__wrap .line, .wrapper .section .section__wrap .left__content .animation .bar__row .row__wrap .active,
.wrapper .section .section__wrap .right__content .animation .bar__row .row__wrap .line,
.wrapper .section .section__wrap .right__content .animation .bar__row .row__wrap .active {
  position: absolute;
  bottom: 8px;
  width: 100%;
  height: 4px;
  background-color: #8b76c4;
  border-radius: 10px;
}

.wrapper .section .section__wrap .left__content .animation .bar__row .row__wrap .active,
.wrapper .section .section__wrap .right__content .animation .bar__row .row__wrap .active {
  background-color: #04046e;
}

.wrapper .footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 250px;
  background-color: slateblue;
}

.wrapper .footer .footer__wrap {
  width: 100%;
}

.wrapper .footer .footer__wrap .social {
  width: 100%;
  height: 40px;
  text-align: center;
  padding: 10px 0px;
  margin-bottom: 10px;
}

.wrapper .footer .footer__wrap .social .fa {
  width: 30px;
  height: 30px;
  padding: 7px;
  color: white;
  cursor: pointer;
  transition: .7s;
}

.wrapper .footer .footer__wrap .social .fa:hover {
  border-radius: 10px;
  background-color: white;
  color: black;
}

@media (max-width: 720px) {
  .wrapper .footer .footer__wrap .social .fa:hover {
    pointer-events: none;
  }
}

.wrapper .footer .footer__wrap hr {
  width: 100%;
  height: 2px;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
}

.wrapper .footer .footer__wrap .logo {
  display: flex;
  width: 100%;
  justify-content: center;
}

.wrapper .footer .footer__wrap .logo img {
  width: 50px;
  height: 50px;
}

.wrapper .footer .footer__wrap .logo label {
  font-size: 35px;
  color: white;
  padding-top: 13px;
  font-family: "Roboto Mono", monospace;
}

.wrapper .footer .footer__wrap .about {
  width: 100%;
  margin-top: 10px;
}

.wrapper .footer .footer__wrap .about p {
  text-align: center;
  color: #0d1b0e;
  padding-top: 7px 0px;
  font-size: 18px;
}

@media (max-width: 720px) {
  .wrapper .footer .footer__wrap .about p {
    font-size: 15px;
    padding: 6px 0px;
  }
}

.wrapper .footer .footer__wrap .about p span {
  color: white;
}

.wrapper .footer .arrow {
  position: absolute;
  top: -25px;
  right: 0px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #db3b0a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .footer .arrow a {
  font-size: 35px;
  color: white;
}

.container {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  position: relative;
}

@media (max-width: 720px) {
  .container {
    width: 98%;
  }
}
