.wrapper {
    width: 100%;
    height: 100%;
    .main{
        width: 100%;
        height: 100%;
        background: url(../img/background/soon.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        display: flex;
        justify-content: center;
        .main__wrap {
            width: 100%;
            padding: 6% 0px 0px 0px;
            img {
                width: 100%;
                max-width: 80px;
                margin-left: calc(50% - 40px);
                @media (max-width: $sm) {
                    max-width: 50px;
                    margin-left: calc(50% - 25px);
                }
            }
                h1 {
                    width: 100%;
                    max-width: 400px;
                    color: $myblack;
                    font-size: $large;
                    margin-left: calc(50% - 200px);
                    font-weight: bold;
                    text-align: center;
                    padding: 15px 0px;
                    @media (max-width: $sm) {
                        margin-left: 0px;
                        font-size: $medium;
                        padding: 5px 0px;
                    }
                }
                p {
                    width: 100%;
                    max-width: 600px;
                    font-size: $small;
                    color: $grey;
                    margin-left: calc(50% - 300px);
                    text-align: center;
                    padding: 15px 0px;
                    @media (max-width: $md) {
                        max-width: 450px;
                        padding: 5px 20px;
                        margin-left: calc(50% - 225px);
                    }
                    @media (max-width: $sm) {
                        width: 100%;
                        margin-left: 0;
                    }
                }
            .time {
                width: 100%;
                max-width: 500px;
                margin-left: calc(50% - 250px);
                padding: 15px 0px;
                color: white;
                text-transform: uppercase;
                @media (max-width:$sm) {
                    margin-left: 0px;
                }
                .days,
                .hours,
                .minutes,
                .seconds {
                    width: 100%;
                    float: left;
                    width: calc(100% / 4);
                }
                // .hours {
                //     width: 100%;
                //     float: left;
                //     width: calc(100% / 4);
                // }
                // .minutes {
                //     width: 100%;
                //     float: left;
                //     width: calc(100% / 4);
                // }
                // .seconds {
                //     width: 100%;
                //     float: left;
                //     width: calc(100% / 4);
                // }
                label {
                    width: 100%;
                    float: left;
                    font-family: $font-roboto;
                    font-size: $medium;
                    text-align: center;
                    @media (max-width: $md) {
                        font-size: $medium;
                    }
                }
                span {
                    float: left;
                    font-family: $font-sans;
                    font-size: $small;
                    @media (max-width: $md) {
                        font-size: $tiny;
                    }
                }
            }
            .email__form {
                width: 100%;
                max-width: 500px;
                margin-left: calc(50% - 250px);
                margin-top: 90px;
                @media (max-width: $md) {
                 max-width: 400px;
                 margin-left: calc(50% - 200px);
                }
                @media (max-width: $sm) {
                    width: 80%;
                    margin-left: 10%;
                }
                input {
                    width: 100%;
                    background-color: transparent;
                    border-bottom: 1px solid black;
                    text-align: center;
                    font-size: $normal;
                    text-transform: capitalize;
                    &::placeholder {
                        color: white;
                        line-height: 40px;
                    }
                }
                button {
                    width: 150px;
                    height: 35px;
                    margin-left: calc(50% - 75px);
                    background-color: rgb(219, 59, 10);
                    color: white;
                    margin-top: 20px;
                    box-shadow: 2px 2px 2px rgb(236, 231, 231);
                }
            }
            .mouse {
                margin-top: 80px;
                width: 30px;
                height: 50px;
                border: 1px solid white;
                margin-left: calc(50% - 15px);
                border-radius: 18px;
            }
        }
    }
    .section {
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        @media (max-width: $md) {
            height: 100%;
        }
        .section__wrap {
            display: inline-block;
            width: 100%;
            height: 40px;
            padding: 70px 0px;
            .section__left {
                width: 50%;
                float: left;
                @media (max-width: $xl) {
                    width: 100%;
                }
            }
            .section__right {
                width: 50%;
                float: left;
                @media (max-width: $xl) {
                    width: 100%;
                }
            }
            .left__content,
            .right__content {
                width: 92%;
                margin-left: 4%;
                h3 {
                    text-align: left;
                    width: 100%;
                    font-size: $normal;
                    color: black;
                    text-transform: uppercase;
                    font-family: $font-roboto;
                    padding: 10px 0px;
                }
                p {
                    // font-family: $font-sans;
                    font-size: $small;
                    line-height: 25px;
                    padding: 10px 0px;
                    span {
                        color: brown;
                    }
                }
                .animation {
                    margin-top: 20px;
                    padding: 15px 0px;
                    width: 100%;
                    height: 100%;
                    display: inline-block;
                    .bar__row {
                        width: 100%;
                        height: 30px;
                        margin: 1px 0px;
                        position: relative;
                        font-family: $font-sans;
                        font-size: $tiny;
                        label {
                            width: 50%;
                            float: left;
                        }
                        span {
                            width: 50%;
                            float: right;
                            text-align: right;
                        }
                        .row__wrap {
                            width: 100%;
                            height: 2px;
                           .line {
                               position: absolute;
                               bottom: 8px;
                               width: 100%;
                               height: 4px;
                               background-color: rgb(139, 118, 196);
                               border-radius: 10px;
                           }
                           .active {
                               @extend .line;
                               background-color: rgb(4, 4, 110);
                           }
                        }
                    }
                }
            }
        }
    }
    .footer {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 150px;
        background-color: slateblue;
        .footer__wrap {
            width: 100%;
            // height: 100%;
        }
    }
}

.container {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    @media (max-width: $md) {
        width: 98%;
    }
}